.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  background-color: #111;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.header h1 {
  font-size: 42px;
  color: var(--textColor);
  font-family: var(--textFont);
}

#input {
  width: 314px;
  padding-left: 12px;
  padding-right: 14px;
  border-radius: 12px;
  background-color: #21242d;
  border: none;
  height: 42px;
  color: #fff;
  font-family: var(--textFont);
}

.header-input {
  position: relative;
}

.header-input i {
  position: absolute;
  right: 36px;
  top: 12px;
  background-color: #21242d;
  color: #fff;
  opacity: 0.4;
}

.section-famous {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  gap: 30px;
}

.famous-box {
  width: 944px;
  background-color: #21242d;
  display: flex;
  gap: 32px;
  justify-content: space-around;
  border-radius: 16px;
  flex-wrap: wrap;
  padding: 12px 0px;
}

.famous-box h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--textFont);
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  color: var(--textColor);
}

.section-famous h1 {
  font-family: var(--textFont);
  color: var(--textColor);
  font-size: 34px;
  font-weight: 600;
  color: #f8b319;
}

.famous-card img {
  width: 240px;
  height: 320px;
  border-radius: 12px;
  opacity: 0.7;
}

.famous-card {
  position: relative;
}

.famous-card:hover .famous-btn {
  display: block;
}

.famous-btn {
  position: absolute;
  right: 12px;
  bottom: 20px;
  background-color: #f8b319;
  padding: 8px 12px;
  border-radius: 12px;
  border: none;
  font-family: var(--pFont);
  font-weight: 500;
  display: none;
  color: #21242d;
}
